<div class="form-group" style="width:40%; float:left">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1" [(ngModel)]="equipeHote" required >
    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
  </select>
  <div>
    <img id='myImage' src="http://www.geonames.org/flags/x/{{equipeHote.alpha2Code | lowercase}}.gif"ng-show="equipeHote.alpha2Code != null"/>
  </div>
</div>

<div class="form-group" style="width:40%; float:right ">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel2" [(ngModel)]="equipeInv" required >
    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
  </select>
  <div>
    <img id='myImage2' src="http://www.geonames.org/flags/x/{{equipeInv.alpha2Code | lowercase}}.gif" ng-show="equipeInv.alpha2Code != null"/>
  </div>
</div>
<div style=" position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;">
  <button type="submit" class="btn btn-success" (click)="onClickValidate()">Success</button>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Home</th>
      <th>Draw</th>
      <th>Away</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{result[0].home}}</td>
      <td>{{result[0].draw}}</td>
      <td>{{result[0].away}}</td>
    </tr>
    </tbody>
  </table>

</div>
